html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.row{
    width: 100%;
}
.row::after{
    content: '';
    display: table;
    clear: both;
}
[class*="col-"]{
    width: 100%;
}
[class*="col-"]{
    float: left;
    padding: 15px;
}

/* Small devices (Tablets & large phones: 576px)*/
@media (min-width: 576px){
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width:66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

/* medium devices (Tablets & large phones: 768px)*/

@media (min-width: 768px){
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width:66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/* Large devices (Tablets & large phones: 992px)*/

@media (min-width: 992px){



    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width:66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

/*Header starts*/
header{
    background-color: rgb(66, 133, 159);
}

.row{
    padding: 1% 7%;
    text-align: center;
}
.logo i{
    color: white;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border: 2px solid white;
    border-radius: 50%;
}
.navmenu li{
    display: block;
}
.navmenu a{
    text-decoration: none;
    color: white;
    display: block;
    line-height: 70px;
    text-transform: uppercase;
    padding: 0 10px;
    font-family: 'Roborto',sans-serif;
    transition: .3s;
}
.navmenu a:hover{
    border-radius: 10px;
    background-color: rgb(0,0,0,.5);
}

/*Header ends*/

/*Banner design starts*/
.banner{
    background-image: url(images/banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-contents{
    text-align: center;
    padding: 150px 50px;
}
.banner-contents h1{
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    background-color: rgb(255,255,0,0.884);
    border-radius: 10px;
    padding: 5px 10px;
}
.banner-contents p{
    margin: 20px auto;
    background-color: rgb(0,128,0);
    color: white;
    font-size: 2rem;
    padding: 5px 20px;
    border-radius: 5px;
}
.banner-contents button{
    background-color: rgb(0,128,0);
    color: white;
    padding: 10px;
    width: 160px;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .4s;
}
.banner-contents button:hover{
    background-color: gray;
    transform: scale(1.2);
}
/*Banner design ends*/

/*About us starts*/

.about-us-content h3{
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 10px;

}
.about-us-contentp{
    font-size: 0.8rem;
    margin-bottom: 10px;

}

/*About us ends*/




/*Food-menu starts*/

.food-menu{
    padding: 1%;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.item{
    background-color: gray;
}
.item h3{
    background-color: rgb(33, 120, 37);
    color: white;
    padding: 10px;
}
.item p{
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
}
.card{
    transition: .4s;
}
.card:hover{
    transform: scale(1.05);
}

/*Food-menu ends*/

/*Contact starts*/
#contact-me{
    background-color: rgb(46, 27, 63);
    padding: 1%;
}
.contact-map iframe{
    width: 100%;
    height: 270px;
}
.contact-details{
    color: white;
    padding: 20px 0;
    text-align: center;
}
.contact-details1{
    padding: 20px;
}
.contact-details2{
    padding: 20px;
}
/*Contact ends*/

/*Footer starts*/
.footer-design{
    
    padding: 1%;
}
.left-foot p{
    font-weight: bold;
    text-align: center;
}
.social-menu i{
    line-height: 30px;
    margin: 0 10px;
}
.icon-style{
    color: black;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius:50% ;
    border: 1px solid black;
    margin: o 10px;
    transition: .4s;
}
.icon-style:hover{
    background-color: gray;
    transform: scale(1.1);
}


/*Footer ends*/
