.card-body img{
    max-width: 100%;
    height: 500px;
    display: block;
}

.left-foot p{
    font-weight: bold;
    text-align: center;
}
.navmenu ul{
    text-align: right;
}
.navmenu ul li{
    display: inline-block;
}
